{{ 'blog-page.css' | asset_url | stylesheet_tag }}
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring
        | split: '"pageurl":"'
        | last
        | split: '"'
        | first
        | split: '.myshopify.com'
        | last
        | replace: '\/', '/'
        | replace: '%20', ' '
        | replace: '\u0026', '&'
-%}
{% capture finalurl %}https://{{ pageUrl }}{% endcapture %}
{%- assign querystring = finalurl | split: "?" | last -%}
{%- assign params = querystring | split: "&" -%}
{%- assign current_category = "" -%}

{%- for param in params -%}
    {%- assign key_value = param | split: "=" -%}
    {%- if key_value.first == "category" -%}
        {%- assign current_category = key_value.last -%}
    {%- endif -%}
{%- endfor -%}

<style>
    .articles {
        grid-template-columns: repeat({{ section.settings.articles_columns_desktop }}, 1fr);
    }
    @media (max-width: 989px) {
        .articles {
            grid-template-columns: repeat({{ section.settings.articles_columns_mobile }}, 1fr);
        }
    }
</style>

<div class="container">
    <h1 class="page-header">{{ section.settings.page_header | escape }}</h1>
    <div class="tag-filter">
        {% assign categories = 'All' %}
        {% for block in section.blocks %}
            {% assign categories = block.settings.handles | split: ',' %}

            <a href="?category={{ 'All' | url_encode }}">All</a>
            {% for category in categories %}
                <a href="?category={{ category | url_encode }}">{{ category }}</a>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="articles">
        {% for block in section.blocks %}
            {% if current_category == empty or current_category == "All" %}
                {% assign block_handles = block.settings.handles | split: ',' %}
            {% else %}
                {% assign block_handles = current_category %}
            {% endif %}
            {% for handle in block_handles %}
                {% assign blog = blogs[handle] %}
                {% paginate blog.articles by 1 %}
                    {% for article in blog.articles %}
                        <div class="article-card">
                            <img src="{{ article.image.src | img_url: 'master' }}" alt="{{ article.image.alt }}">
                            <p>{{ blog.title }} | {{ article.published_at | date: "%B %d, %Y" }}</p>
                            <h2>{{ article.title }}</h2>
                        </div>
                    {% endfor %}
                {% endpaginate %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% if paginate.pages > 1 %}
        <span class="prev">{% if paginate.previous %}<a href="{{ paginate.previous.url }}" aria-label="Previous">&laquo;</a>{% endif %}</span>
        {% for part in paginate.parts %}
            {% if part.is_link %}
                <a href="{{ part.url }}">{{ part.title }}</a>
            {% else %}
                <span class="current">{{ part.title }}</span>
            {% endif %}
        {% endfor %}
        <span class="next">{% if paginate.next %}<a href="{{ paginate.next.url }}" aria-label="Next">&raquo;</a>{% endif %}</span>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let urlParams = new URLSearchParams(window.location.search);
        let category = urlParams.get('category');

        document.cookie = "category=" + category;
    });

    document.addEventListener('DOMContentLoaded', function () {
        let category = document.cookie.replace(/(?:(?:^|.*;\s*)category\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        let links = document.querySelectorAll('.tag-filter a');
        console.log(category);
        if (category === null || category === '' || category === 'null'){
            console.log('empty');
            links[0].classList.add('active-filter');
            return;
        }

        links.forEach(link => {
            if (link.textContent === category) {
                link.classList.add('active-filter');
            }
        });
    });

</script>

{% schema %}
{
  "name": "Blog section",
  "settings": [
    {
      "type": "text",
      "id": "page_header",
      "label": "Page Header",
      "default": "Blogs"
    },
    {
      "type": "range",
      "id": "articles_columns_desktop",
      "label": "Articles Columns on Desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "info": "Choose how many columns to display in the articles section on desktop screens."
    },
    {
      "type": "range",
      "id": "articles_columns_mobile",
      "label": "Articles Columns on Mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "info": "Choose how many columns to display in the articles section on mobile screens."
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "Blog Handle",
      "settings": [
        {
          "type": "text",
          "id": "page_header",
          "label": "Page Header",
          "default": "Blogs"
        },
        {
          "type": "text",
          "id": "handles",
          "label": "Blog Handles (name of blog tags - comma-separated)",
          "default": "news,blog1,blog2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Blogs"
    }
  ]
}
{% endschema %}