{{ 'bundle-product-approach.css' | asset_url | stylesheet_tag }}

<section>
    <div class="container">
        <img class="benefits-banner-img top" src="{{ product.metafields.my_fields.bundle_top_image | img_url: '1240x280' }}" alt="Coaches">
        <!-- Product 1 -->
        <div class="row overflow-hidden">
            <div class="col-lg-6 col-12 d-flex position-relative order-2 order-lg-1">
                <img class="benefits-photo" src="{{ product.metafields.my_fields.bundle_product_image_1 | img_url: '450x500' }}" alt="Product 1">
                <div class="benefits-icons">
                    <div class="d-flex">
                        <img src="{{ product.metafields.my_fields.bundle_product_icons_1 | img_url: '60x60' }}" alt="Benefit" class="benefits-icon">
                        <p class="benefit-icon-text">{{ product.metafields.my_fields.bundle_benefit_1 }}</p>
                    </div>
                    <div class="d-flex">
                        <img src="{{ product.metafields.my_fields.bundle_product_icons_2 | img_url: '60x60' }}" alt="Benefit" class="benefits-icon">
                        <p class="benefit-icon-text">{{ product.metafields.my_fields.bundle_benefit_2 }}</p>
                    </div>
                    <div class="d-flex">
                        <img src="{{ product.metafields.my_fields.bundle_product_icons_3 | img_url: '60x60' }}" alt="Benefit" class="benefits-icon">
                        <p class="benefit-icon-text">{{ product.metafields.my_fields.bundle_benefit_3 }}</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center order-1 order-lg-2">
                <h3 class="benefits-subtitle">
                    {{ product.metafields.my_fields.bundle_benefits_subtitle_1 }}
                </h3>
                <h2 class="benefits-title">
                    {{ product.metafields.my_fields.bundle_benefits_title_1 }}
                </h2>
                <p class="benefits-text">
                    {{ product.metafields.my_fields.bundle_benefits_text_1 }}
                </p>
            </div>
        </div>
        <!-- Product 2-->
        <div class="row bg-gray overflow-hidden">
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
                <h3 class="benefits-subtitle">
                    {{ product.metafields.my_fields.bundle_benefits_subtitle_2 }}
                </h3>
                <h2 class="benefits-title">
                    {{ product.metafields.my_fields.bundle_benefits_title_2 }}
                </h2>
                <p class="benefits-text">
                    {{ product.metafields.my_fields.bundle_benefits_text_2 }}
                </p>
            </div>
            <div class="col-lg-6 col-12 d-flex justify-content-lg-end position-relative">
                <img class="benefits-photo" src="{{ product.metafields.my_fields.bundle_product_image_2 | img_url: '450x500' }}" alt="Product 2">
                <img src="{{ product.metafields.my_fields.bundle_product_icons_2 | img_url: '250x280' }}" alt="Benefits" class="benefits-icons left">
            </div>
        </div>
        <!-- Product 3-->
        <div class="row overflow-hidden">
            <div class="col-lg-6 col-12 d-flex position-relative order-2 order-lg-1">
                <img class="benefits-photo" src="{{ product.metafields.my_fields.bundle_product_image_3 | img_url: '450x500' }}" alt="Product 3">
                <img src="{{ product.metafields.my_fields.bundle_product_icons_3 | img_url: '250x280' }}" alt="Benefits" class="benefits-icons">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center order-1 order-lg-2">
                <h3 class="benefits-subtitle">
                    {{ product.metafields.my_fields.bundle_benefits_subtitle_3 }}
                </h3>
                <h2 class="benefits-title">
                    {{ product.metafields.my_fields.bundle_benefits_title_3 }}
                </h2>
                <p class="benefits-text">
                    {{ product.metafields.my_fields.bundle_benefits_text_3 }}
                </p>
            </div>
        </div>
        <div class="delivery-btn-padding d-flex justify-content-center">
            <a href="#page-top" class="btn btn-primary button-top">shop now</a>
        </div>
            <img class="benefits-banner-img bottom" src="{{ product.metafields.my_fields.bundle_bottom_image | img_url: '1240x280' }}" alt="">
        </div>
</section>
