{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer id="section-footer">
    <div class="footer-bg">
        <div class="container p-lg-0">
            <div class="row">
                <div class="col-lg-4 col-12 order-1">
                    <h2 class="footer-title">{{ section.settings.footer-title }}</h2>
                    <p class="footer-text mb-0 footer-border-mobile">{{ section.settings.footer-text }}</p>
                </div>
                <div class="col-lg-2 col-6 order-lg-2 order-3">
                    <h3 class="footer-subtitle">{{ section.settings.footer-subtitle-1 }}</h3>
                    <a class="footer-href text-decoration-none" href="/">Home</a>
                    <a class="footer-href text-decoration-none" href="/collections/all">Shop</a>
                    <a class="footer-href text-decoration-none" href="/pages/reviews">Reviews</a>
                    <a class="footer-href text-decoration-none" href="/pages/contact">Contact</a>
                </div>
                <div class="col-lg-2 col-6 order-lg-3 order-4">
                    <h3 class="footer-subtitle">{{ section.settings.footer-subtitle-2 }}</h3>
                    <a class="footer-href text-decoration-none" href="/pages/terms-of-service">Terms & Conditions</a>
                    <a class="footer-href text-decoration-none" href="/pages/privacy-cookies">Privacy Policy</a>
                </div>
                <div class="col-lg-4 col-12 d-lg-flex justify-content-lg-end order-2 order-lg-4">
                    <div class="text-lg-center">
                        <h3 class="footer-subtitle">{{ section.settings.footer-subtitle-3 }}</h3>
                        <div class="d-flex d-lg-block justify-content-between">
                            <a href="https://play.google.com/store/apps/details?id=com.suggestic.reversehealth" target="blank"><img class="footer-download d-lg-block" src="{{ 'GooglePlay.png' | asset_url }}" alt="Download on google play"></a>
                            <a href="https://apps.apple.com/es/app/reverse-health/id1597150642" target="blank"><img class="footer-download d-lg-block" src="{{ 'AppStore.png' | asset_url }}" alt="Download on apple store"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-social-icons">
                <a href="{{ section.settings.ig-url }}" class="text-decoration-none">
                    <img class="footer-fb-i" src="{{ 'instagram.svg' | asset_url }}" alt="Instagram icon">
                </a>
                <a href="{{ section.settings.fb-url }}" class="text-decoration-none footer-fb-i">
                    <img class="footer-fb-i" src="{{ 'facebook.svg' | asset_url }}" alt="Instagram icon">
                </a>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="d-flex col-lg-6 col-12 justify-content-center">
                    <div class="footer-copyright-line w-100 text-center">
                        <p class="footer-copyright">Copyright @ Reverse Health. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bg-2">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 col-12">
                    <p class="footer-info-text text-lg-center">{{ section.settings.footer-text-information }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% schema %}
{
"name": "Values",
"settings": [
{
"id": "footer-title",
"type": "text",
"label": "Title",
"default":"reverse health"
},
{
"id": "footer-text",
"type": "text",
"label": "Footer text",
"default":"The first weight loss program designed for women's unique needs. The one that finally works with supplements that fill nutritional gaps due to aging."
},
{
"id": "ig-url",
"type": "text",
"label": "Instagram url",
"default":"https://www.instagram.com/reverse.program/"
},
{
"id": "fb-url",
"type": "text",
"label": "Facebook url",
"default":"https://www.facebook.com/reverseprogram"
},
{
"id": "footer-subtitle-1",
"type": "text",
"label": "Footer subtitle Nr.1",
"default":"General"
},
{
"id": "footer-subtitle-2",
"type": "text",
"label": "Footer subtitle Nr.2",
"default":"Legal"
},
{
"id": "footer-subtitle-3",
"type": "text",
"label": "Footer subtitle Nr.3",
"default":"Get The App"
},
{
"id": "footer-text-information",
"type": "text",
"label": "Footer bottom information text",
"default":"* The information contained on this website is NOT intended as medical advice. You are responsible for your own health and safety at all times. Please consult with a medical professional for any questions."
}
],
"presets": [
{
"name": "Values"
}
]
}
{% endschema %}
