{{ 'landing-hero.css' | asset_url | stylesheet_tag }}
<section id="hero-id" class="position-relative landing-hero-bg">
<!---    <img loading="lazy" width="815" height="538" class="landing-hero-feather-1 d-none d-lg-block" src="{{ 'landing_squares1.webp' | asset_url }}" alt="Squares">
    <img loading="eager" width="375" height="569" class="landing-hero-feather-2 d-lg-none"  src="{{ 'landing_squares2.webp' | asset_url }}" alt="Squares"> --->

    <div class="w-100 d-lg-none position-relative">
        <img loading="lazy" class="hero-yummy mobile" src="{{ 'hero-yummy-mobile.svg' | asset_url }}" alt="Hero Yummy">
        <img loading="eager" fetchpriority="high" width="360" height="307" class="position-relative w-96 img-hero-mobile" src="{{ 'hero-desktop-bundle-white.png' | asset_url }}" alt="Hero picture">
    </div>
    <div class="container position-unset">
        <div class="row position-unset">
            <div class="col-lg-6 col-12  pe-lg-5  ps-lg-0 d-flex align-items-center position-unset order-lg-1 order-2" id="textCol">
                <div class="w-100 hero-landing-text-block padding-square">
                    <h1 class="hero-title">
                        <span>{{ section.settings.hero-title }}</span>
                    </h1>
                    <h2 class=" hero-subtitle">{{ section.settings.hero-subtitle }}</h2>
                    <div class=" btn-padding-mobile">
                        <a href="{{ shop.url }}/collections/all">
                            <button class="btn btn-primary btn-top">check availability</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 position-unset col-12 order-lg-2 order-1 z-100 d-lg-block d-none" style="height: 538px">
                <div class="hero-abs-pic d-flex justify-content-end">
                    <div class="landing-hero-custom">
                        {% comment %}<img src="{{ 'hero-desktop-f.png' | asset_url }}" alt="Hero picture">{% endcomment %}
                        <img loading="lazy" class="hero-yummy desktop" src="{{ 'hero-yummy-desktop.svg' | asset_url }}" alt="Hero Yummy">
                        <img class="desk-hero-prod" src="{{ 'hero-desktop-bundle-white.png' | asset_url }}" alt="Hero picture" loading="eager">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="position-relative hero-carousel-section">

    <div class="bg-blue">
        <div class="container p-0">
            <div id="hero-slider" class="row owl-carousel icon-slider">
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" width="60" height="60" src="{{ 'vegan_i.svg' | asset_url }}" alt="Vegan icon">
                    </div>
                    <div class="icons-text mt-3">
                        Vegan
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" width="60" height="60" src="{{ 'sugar_i.svg' | asset_url }}" alt="Sugar icon">
                    </div>
                    <div class="icons-text mt-3">
                        Sugar free
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" width="60" height="60"  src="{{ 'gluten_i.svg' | asset_url }}" alt="Gluten icon">
                    </div>
                    <div class="icons-text mt-3">
                        Gluten free
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" width="60" height="60" src="{{ 'gmo_i.svg' | asset_url }}" alt="GMO icon">
                    </div>
                    <div class="icons-text mt-3">
                        Non GMO
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" width="60" height="60" src="{{ 'lactose_i.svg' | asset_url }}" alt="Lactose icon">
                    </div>
                    <div class="icons-text mt-3">
                        Lactose free
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" width="60" height="60" src="{{ 'natural_i.svg' | asset_url }}" alt="Natural ingredients icon">
                    </div>
                    <div class="icons-text mt-3">
                        All natural
                    </div>
                </div>
            </div>
            {% comment %}<div class="container hero-carouse-btn-parent ">{% endcomment %}
                {% comment %}<div class="position-relative d-none">{% endcomment %}
                    {% comment %}<div class="css--prev-btn-hero d-flex justify-content-start d-lg-none">{% endcomment %}
                        {% comment %}<button class="customPrevBtnHero caps text-center d-flex d-sm-inline align-items-center disabled">{% endcomment %}
                            {% comment %}<img loading="lazy" class="carousel-arrow-img" src="{{ 'arrow-left.svg' | asset_url }}" alt="Arrow left">{% endcomment %}
                        {% comment %}</button>{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                    {% comment %}<div class="css--next-btn-hero d-flex justify-content-end d-lg-none">{% endcomment %}
                        {% comment %}<button class="customNextBtnHero caps d-flex d-sm-inline align-items-center">{% endcomment %}
                            {% comment %}<img loading="lazy" class=" carousel-arrow-img" src="{{ 'arrow-right.svg' | asset_url }}" alt="Arrow right">{% endcomment %}
                        {% comment %}</button>{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                {% comment %}</div>{% endcomment %}
{% comment %}{% endcomment %}
            {% comment %}</div>{% endcomment %}
        </div>
    </div>
</section>

{{ 'landing-hero.js' | asset_url | script_tag }}

{% schema %}
{
"name": "Values",
"settings": [
{
"id": "hero-title",
"type": "text",
"label": "Title",
"default": "THE SPECIAL BLEND FOR MATURE WOMEN"
},
{
"id": "hero-subtitle",
"type": "text",
"label": "Subtitle",
"default":"Our products are designed to boost weight loss and increase lifespan"
}
],
"presets": [
{
"name": "Values"
}
]
}
{% endschema %}
