{{ 'landing-reviews.css' | asset_url | stylesheet_tag }}

<section id="reviews" class="reviews-bg">
    <div class="container d-flex flex-column align-items-center">
        <h2 class="text-center reviews-title">
            {{ section.settings.title }}
        </h2>
        <div  id="review-slider" class="owl-carousel row review-pb">
            <div class="col-xl-4 position-relative d-flex flex-column justify-content-between">
                {% comment %}<img class="review-product-1"  src="{{ 'protein.png' | asset_url }}" alt="Whey Protein" loading="lazy">{% endcomment %}
                <div class="reviews-card h-100">
                    <div class="d-flex">
                        <div>
                            <img class="review-card-img" src="{{ 'review_1.png' | asset_url }}" alt="Review" loading="lazy">
                        </div>
                        <div class="review-card-top">
                            <div class="review-card-name">{{ section.settings.review-card-1-name }}</div>
                            <div class="review-card-stars">
                                <p>{{ section.settings.review-card-1-rating }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-card-bottom">
                        <h3 class="review-card-title">
                            {{ section.settings.review-card-1-title }}
                        </h3>
                        <p class="review-card-text mb-0">
                            {{ section.settings.review-card-1-text }}
                        </p>
                    </div>
                </div>
                <div class="review-icons review-icons-after row">
                    <div class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'fat.svg' | asset_url }}" class="review-icon" alt="Review icons">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'bones.svg' | asset_url }}" class="review-icon" alt="Review icons">

                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'muscles.svg' | asset_url }}" class="review-icon" alt="Review icons">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 position-relative d-flex flex-column justify-content-between">
                {% comment %}<img class="review-product-2"  src="{{ 'collagen.png' | asset_url }}" alt="Whey Protein" loading="lazy">{% endcomment %}

                <div class="reviews-card h-100">
                    <div class="d-flex">
                        <div>
                            <img class="review-card-img" src="{{ 'review_2.png' | asset_url }}" alt="Review" loading="lazy">
                        </div>
                        <div class="review-card-top">
                            <div class="review-card-name">{{ section.settings.review-card-2-name }}</div>
                            <div class="review-card-stars">
                                <p>{{ section.settings.review-card-2-rating }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-card-bottom">
                        <h3 class="review-card-title">
                            {{ section.settings.review-card-2-title }}
                        </h3>
                        <p class="review-card-text mb-0">
                            {{ section.settings.review-card-2-text }}
                        </p>
                    </div>
                </div>
                <div class="review-icons review-icons-after row">
                    <div class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'skin.svg' | asset_url }}" class="review-icon" alt="Review icons">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'nails.svg' | asset_url }}" class="review-icon" alt="Review icons">

                    </div>
                    <div class="col-4  d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'hair.svg' | asset_url }}" class="review-icon" alt="Review icons">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 position-relative d-flex flex-column justify-content-between">
                {% comment %}<img class="review-product-3"  src="{{ 'vitamin.png' | asset_url }}" alt="Whey Protein" loading="lazy">{% endcomment %}

                <div class="reviews-card h-100">
                    <div class="d-flex">
                        <div>
                            <img class="review-card-img" src="{{ 'review_3.png' | asset_url }}" alt="Review" loading="lazy">
                        </div>
                        <div class="review-card-top">
                            <div class="review-card-name">{{ section.settings.review-card-3-name }}</div>
                            <div class="review-card-stars">
                                <p>{{ section.settings.review-card-3-rating }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-card-bottom">
                        <h3 class="review-card-title">
                            {{ section.settings.review-card-3-title }}
                        </h3>
                        <p class="review-card-text mb-0">
                            {{ section.settings.review-card-3-text }}
                        </p>
                    </div>
                </div>
                <div class="review-icons row">
                    <div  class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'weight.svg' | asset_url }}" class="review-icon" alt="Review icons">
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'immunity.svg' | asset_url }}" class="review-icon" alt="Review icons">

                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <img loading="lazy" src="{{ 'heart.svg' | asset_url }}" class="review-icon" alt="Review icons">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="d-xl-none">
            <div class="d-flex justify-content-center review-carousel-btns ">
                <button class="customPrevBtnReview caps text-center d-flex d-sm-inline align-items-center">
                    <svg width="13" height="28" viewBox="0 0 13 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.274277 14.7684L11.4078 27.6834C11.7726 28.1063 12.3632 28.1056 12.7273 27.6812C13.0912 27.2569 13.0903 26.5695 12.7255 26.1463L2.25462 13.9999L12.7258 1.85368C13.0906 1.4304 13.0915 0.743475 12.7277 0.319101C12.5452 0.106367 12.306 0 12.0668 0C11.8283 0 11.5901 0.105656 11.4079 0.316914L0.274277 13.2316C0.098588 13.4349 0 13.7116 0 13.9999C0 14.2883 0.0988703 14.5646 0.274277 14.7684Z" fill="#505050"/>
                    </svg>
                </button>
                <button class="customNextBtnReview caps d-flex d-sm-inline align-items-center">
                    <svg width="13" height="28" viewBox="0 0 13 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.7257 14.7684L1.59219 27.6834C1.22742 28.1063 0.636833 28.1056 0.272667 27.6812C-0.0912166 27.2569 -0.0902763 26.5695 0.274548 26.1463L10.7454 13.9999L0.274172 1.85368C-0.0906056 1.4304 -0.0915459 0.743475 0.272291 0.319101C0.454844 0.106367 0.694002 0 0.933159 0C1.17171 0 1.40992 0.105656 1.59215 0.316914L12.7257 13.2316C12.9014 13.4349 13 13.7116 13 13.9999C13 14.2883 12.9011 14.5646 12.7257 14.7684Z" fill="#505050"/>
                    </svg>

                </button>
            </div>

        </div> -->
    </div>
</section>

{{ 'landing-reviews.js' | asset_url | script_tag }}

{% schema %}
{
"name": "t:sections.featured-collection.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Over 30,000 Five-Star Reviews",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-1-name",
"default": "Hildur",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-1-rating",
"default": "❤️ ❤️ ❤️ ❤️ ❤️",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-1-title",
"default": "FAT IS MELTING AWAY EACH DAY",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-1-text",
"default": "I just love this product. I have been using Women’s Protein for 6 weeks and my muscles are better toned and joint pain has almost disappeared. Isn’t that amazing? I highly recommend all ReverseHealth products.",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-2-name",
"default": "Hazel",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-2-rating",
"default": "❤️ ❤️ ❤️ ❤️ ❤️",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-2-title",
"default": "BEST COLLAGEN FOR WOMEN!",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-2-text",
"default": "I have tried many collagens and none of them really worked for me. I was skeptical when my friends told me about Women’s Collagen but they were right - it really changed my appearance in just 2 weeks.",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-3-name",
"default": "Melanie",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-3-rating",
"default": "❤️ ❤️ ❤️ ❤️ ❤️",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-3-title",
"default": "HOW REVERSE HAS HELPED ME",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "review-card-3-text",
"default": "At 57 I was getting sick all the time and my energy level was always low. But since I started using Women’s D3 Vitamin my immune system has improved a lot which makes me feel a little bit safer, especially during a pandemic.",
"label": "t:sections.featured-collection.settings.title.label"
}
],
"presets": [
{
"name": "t:sections.featured-collection.presets.name"
}
]
}
{% endschema %}
