{{ 'landing-hero.css' | asset_url | stylesheet_tag }}
<section id="hero-id" class="position-relative landing-hero-bg">
    <img loading="lazy" class="landing-hero-feather-1 d-none d-lg-block" src="{{ 'feather1.svg' | asset_url }}" alt="Feather">
    <img loading="lazy" class="landing-hero-feather-2 d-lg-none" src="{{ 'feather2.svg' | asset_url }}" alt="Feather">

    <div class="w-100 d-lg-none position-relative">
        <img class="position-relative w-100 img-hero-mobile" src="{{ 'hero-mobile-uk.png' | asset_url }}" alt="Hero picture" loading="lazy">
    </div>
    <div class="container position-unset  px-0">
        <div class="row position-unset">
            <div class="col-lg-6 col-12  pe-lg-5 d-flex align-items-center position-unset order-lg-1 order-2" id="textCol">
                <div class="w-100 hero-landing-text-block padding-square">
                    <h1 class="hero-title">{{ section.settings.hero-title }}</h1>
                    <h2 class=" hero-subtitle">{{ section.settings.hero-subtitle }}</h2>
                    <div class=" btn-padding-mobile">
                        <a href="{{ shop.url }}/collections/all">
                            <button class="btn btn-primary btn-top">check availability</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 position-unset col-12 order-lg-2 order-1 z-100 d-lg-block d-none" style="height: 538px">
                <div class="hero-abs-pic d-flex justify-content-end">
                    <div class="landing-hero-custom">
                        {% comment %}<img src="{{ 'hero-desktop-f.png' | asset_url }}" alt="Hero picture">{% endcomment %}
                        <img loading="lazy" class="hero-yummy" src="{{ 'hero-yummy.svg' | asset_url }}" alt="Hero Yummy">
                        <img class="desk-hero-prod" src="{{ 'hero-desktop-uk.png' | asset_url }}" alt="Hero picture" loading="lazy">
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
<section class="position-relative hero-carousel-section">

    <div class="bg-blue">
        <div class="container p-0">
            <div id="hero-slider" class="row owl-carousel icon-slider">
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" src="{{ 'vegan_i.svg' | asset_url }}" alt="Vegan icon">
                    </div>
                    <div class="icons-text mt-3">
                        vegan
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" src="{{ 'sugar_i.svg' | asset_url }}" alt="Vegan icon">
                    </div>
                    <div class="icons-text mt-3">
                        sugar free
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" src="{{ 'gluten_i.svg' | asset_url }}" alt="Vegan icon">
                    </div>
                    <div class="icons-text mt-3">
                        gluten free
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" src="{{ 'gmo_i.svg' | asset_url }}" alt="Vegan icon">
                    </div>
                    <div class="icons-text mt-3">
                        non gmo
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" src="{{ 'lactose_i.svg' | asset_url }}" alt="Vegan icon">
                    </div>
                    <div class="icons-text mt-3">
                        lactose free
                    </div>
                </div>
                <div class="col-lg-2 w-100-sm d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <img loading="lazy" src="{{ 'natural_i.svg' | asset_url }}" alt="Vegan icon">
                    </div>
                    <div class="icons-text mt-3">
                        all natural
                    </div>
                </div>
            </div>
            <div class="container hero-carouse-btn-parent ">
                <div class="position-relative d-none">
                    <div class="css--prev-btn-hero d-flex justify-content-start d-lg-none">
                        <button class="customPrevBtnHero caps text-center d-flex d-sm-inline align-items-center disabled">
                            <img loading="lazy" class="carousel-arrow-img" src="{{ 'arrow-left.svg' | asset_url }}" alt="Arrow">
                        </button>
                    </div>
                    <div class="css--next-btn-hero d-flex justify-content-end d-lg-none">
                        <button class="customNextBtnHero caps d-flex d-sm-inline align-items-center">
                            <img loading="lazy" class=" carousel-arrow-img" src="{{ 'arrow-right.svg' | asset_url }}" alt="Arrow">
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

{{ 'landing-hero.js' | asset_url | script_tag }}

{% schema %}
{
"name": "Values",
"settings": [
{
"id": "hero-title",
"type": "text",
"label": "Title",
"default":"THE SPECIAL BLEND FOR MATURE WOMEN"
},
{
"id": "hero-subtitle",
"type": "text",
"label": "Subtitle",
"default":"Our products are designed to boost weight loss and increase lifespan"
}
],
"presets": [
{
"name": "Values"
}
]
}
{% endschema %}
