{{ 'landing-mission.css' | asset_url | stylesheet_tag }}

<section id="section-mission">
    <div class="container px-lg-0">
        <div class="row mission-p">
            <div class="col-lg-6 col-12 pe-lg-4">
                <h3 class=" mission-title-small mb-0">{{ section.settings.title_small }}</h3>
                <h2 class=" mission-title  mb-0">{{ section.settings.title }}</h2>
                <p class=" mission-text mb-lg-0">{{ section.settings.text }}</p>
                <div class="mission-btn-padding d-lg-block d-none">
                    <a href="{{shop.url}}/collections/all"><button class="btn btn-primary button-top">check availability</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-12 mission-iframe-padding">
                <div style="padding:66.67% 0 0 0;position:relative;">
                    <div class="video-overlay w-100 h-100 position-absolute"id="vimeo-id" >
                        <img src="{{ 'icon-play.svg'  | asset_url }}" width="50" height="50" alt="Play icon" class="play-icon" >
                    </div>
                    <iframe loading="lazy" id="vimeo-video" src="{{ section.settings.video_url }}" class="mission-iframe" title="Mission video" style="position:absolute;top:0;left:0;width:100%;height:100%;" allow="autoplay; fullscreen; picture-in-picture"></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js defer"></script>
                <script>
$(function() {
    // console.log(document.getElementById("vimeo-id"))
  document.getElementById("vimeo-id").disabled = true;
  var player = $('iframe');
  var playerOrigin = '*';
  // Listen for messages from the player
  if (window.addEventListener) {
    window.addEventListener('message', onMessageReceived, false);
  } else {
    window.attachEvent('onmessage', onMessageReceived, false);
  }

  function onMessageReceived(event) {
    // console.log(event);
    // var data = JSON.parse(event.data);
    // console.log(data.event);
    // if (data.event === "ready") {
    //   //attach ready function to the image
    //   document.getElementById("vimeo-id").disabled = false;

      $('#vimeo-id').click(function() {
        player[0].contentWindow.postMessage({
          "method": "play"
        }, playerOrigin);
        $(this).remove();
      });

    // }
  }
});
                </script>
                <div class="mission-btn-padding d-lg-none">
                    <a href="{{shop.url}}/collections/all"><button class="btn btn-primary button-top">check availability</button></a>
                </div>
            </div>
        </div>
        <div class="mission-img-div">
            <img loading="lazy" src="{{ 'mission-img.jpg' | asset_url }}" alt="Mission image"/>
        </div>
    </div>
</section>

{% schema %}
{
"name": "t:sections.featured-collection.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "title_small",
"default": "Our mission",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "title",
"default": "Promoting confidence with simple supplements",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "text",
"default": "Our mission is to remove the confusion about supplements created by many marketing companies selling products you don't need. There are only a few, important supplements to fill nutritional gaps for mature women to support weight loss journey, improve wellbeing and feel youthful.",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "video_url",
"default": "https://player.vimeo.com/video/709901348?h=c94b33e045&title=0&byline=0&portrait=0",
"label": "t:sections.featured-collection.settings.title.label"
}
],
"presets": [
{
"name": "t:sections.featured-collection.presets.name"
}
]
}
{% endschema %}

