{{ 'landing-delivery.css' | asset_url | stylesheet_tag }}

<section class="delivery-bg" id="section-delivery">
    <div class="tab text-center"><p>Trusted and endorsed by Reverse Health nutritionists</p></div>
    <div class="container p-lg-0 pt-70">
        <h2 class="delivery-title text-center mb-0">{{ section.settings.title }}</h2>
        <div class="row justify-content-evenly">
            <div class="col-lg-4 col-12">
                <div class="d-flex flex-column align-items-center bg-card">
                    <img loading="lazy" src="{{ 'rocket_i.svg' | asset_url }}" alt="Rocket icon" class="delivery-img ">
                    <h3 class="delivery-title-sm text-center mb-0">{{ section.settings.title-sm-1 }}</h3>
                    {% comment %}<p class="delivery-text  text-center mb-0">{{ section.settings.text-1 }}</p>{% endcomment %}
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="d-flex flex-column align-items-center bg-card">
                    <img loading="lazy" src="{{ 'box_i.svg' | asset_url }}" alt="Box icon" class="delivery-img ">
                    <h3 class="delivery-title-sm text-center mb-0">{{ section.settings.title-sm-2 }}</h3>
                    {% comment %}<p class="delivery-text  text-center mb-0">{{ section.settings.text-2 }}</p>{% endcomment %}
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="d-flex flex-column align-items-center bg-card">
                    <img loading="lazy" src="{{ 'microscope_i.svg' | asset_url }}" alt="Ingredients icon" class="delivery-img ">
                    <h3 class="delivery-title-sm text-center mb-0">{{ section.settings.title-sm-3 }}</h3>
                    {% comment %}<p class="delivery-text  text-center mb-0">{{ section.settings.text-3 }}</p>{% endcomment %}
                </div>
            </div>
        </div>
        {% if product.id == blank %}
        <div class="delivery-btn-padding d-flex justify-content-center">
            <a href="{{shop.url}}/collections/all" style="min-width: 32%"><button class="btn btn-primary button-top w-100">check availability</button></a>
        </div>
        {% endif %}

    </div>
    {% if product.id == '' %}<div class="landing-faq-padding"></div> {% endif %}
</section>
{% if product.id == blank %}
    <div class="delivery-landing-mt">

    </div>
{% endif %}
{% schema %}
{
"name": "t:sections.featured-collection.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Risk-free purchase and fast delivery",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "title-sm-1",
"default": "FAST DELIVERY TIME",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "text-1",
"default": "U.S delivery only",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "title-sm-2",
"default": "Free shipping",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "text-2",
"default": "U.S only",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "title-sm-3",
"default": "ESSENTIAL DAILY NUTRIENTS",
"label": "t:sections.featured-collection.settings.title.label"
},
{
"type": "text",
"id": "text-3",
"default": "14-day, no questions asked refund",
"label": "t:sections.featured-collection.settings.title.label"
}
],
"presets": [
{
"name": "t:sections.featured-collection.presets.name"
}
]
}
{% endschema %}

