{{ 'single-product-how.css' | asset_url | stylesheet_tag }}
<section class="how-bg position-relative overflow-hidden" style="background-color: {{ product.metafields.my_fields.how_to_use_background_color }};">
    <img class="how-svg-1 d-lg-block d-none" src="{{ 'how.svg' | asset_url }}" alt="Review">
    <img class="how-svg-2 d-block d-lg-none" src="{{ 'how-2.svg' | asset_url }}" alt="Review">
    <div class="container d-flex justify-content-center align-items-center flex-column {% if product.metafields.my_fields.consumption_heading_2 != ''%} {% if product.metafields.my_fields.consumption_heading_3 != ''%} padding-bottom-15 {% endif %} {% endif %}">
        <h2 class="how-title text-center">{{ product.metafields.my_fields.use_heading }}</h2>
        <div class="how-products d-flex row justify-content-between w-100">
            {% if product.metafields.my_fields.consumption_heading_1 %}
                <div class="text-center d-flex d-lg-block width-1  single-product-block">
                    <img class="how-icon" src="{{ product.metafields.my_fields.consumption_icon_1 | img_url: '800x800' }}" alt="Smoothies">
                    <div class="d-flex flex-column text-lg-center text-start">
                        <div class=""><h3 class="how-subtitle text-lg-center">{{ product.metafields.my_fields.consumption_heading_1 }}</h3></div>
                        <div class="line-clamp-3"><p class="how-text text-lg-center ">{{ product.metafields.my_fields.consumption_text_1 }}</p></div>
                    </div>

                </div>
            {% endif %}
            {% if product.metafields.my_fields.consumption_heading_2 %}
                <div class="text-center d-flex d-lg-block width-2  single-product-block">
                    <img class="how-icon" src="{{ product.metafields.my_fields.consumption_icon_2 | img_url: '800x800' }}" alt="Smoothies">
                    <div class="d-flex flex-column text-lg-center text-start ">
                        <div><h3 class="how-subtitle text-lg-center">{{ product.metafields.my_fields.consumption_heading_2 }}</h3></div>
                        <div class="line-clamp-3"><p class="how-text text-lg-center ">{{ product.metafields.my_fields.consumption_text_2 }}</p></div>
                    </div>
                </div>
            {% endif %}
            {% if product.metafields.my_fields.consumption_heading_3 %}
                <div class="text-center d-flex d-lg-block width-3  single-product-block">
                    <img class="how-icon" src="{{ product.metafields.my_fields.consumption_icon_3 | img_url: '800x800' }}" alt="Smoothies">
                    <div class="d-flex flex-column text-lg-center text-start">
                        <div class=""><h3 class="how-subtitle text-lg-center">{{ product.metafields.my_fields.consumption_heading_3 }}</h3></div>
                        <div class="line-clamp-3"><p class="how-text text-lg-center ">{{ product.metafields.my_fields.consumption_text_3 }}</p></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>

